#startBtn {
    margin: 30px 0 0 15px;
    width: 40%;
}

#main {
    margin-left: 0px;
}

#finalID {
    font-size: large;
    margin-left: 100px;
}

#qzBtn {
    background-color: blue;
    border-radius: 10px;
    display: block;
    margin: 8px;
    text-align: center;
}

#highScores {
    margin-left: 5%;
    cursor: pointer;
    color: rgb(0, 140, 255);
}

#time {
    margin-left: 75%;
}

ul {
    list-style-type: none;
    margin-left: -39px;
}
